<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<form action="{% url 'stock_history' %}" method="get">
	<input type="submit" value="查询历史库存" />
</form>
<form action="{% url 'stock_history' %}" method="post">
	{% csrf_token %}
	<input type="submit" value="刷新历史库存" />
</form>

<div>
	<hr>
	<pre>

		这里是历史库存数据:
		{% for row in output %}
			{{ row }}<br>
		{% endfor %}

		错误信息：
		{{ err }}
	</pre>
	<hr>
</div>
</body>
</html>