<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<form action="{% url 'sales_upload' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
{#	{{ form.as_table }}#}
	<input type="file" name="sales_file">
	<input type="submit">
</form>
<div>
	<hr>
	<pre>
		{% ifnotequal errno 0 %}
			<span style="color: red">{{ errmsg }}</span>
		{% endifnotequal %}
		这里是上传的数据:
		{% for row in formlist %}
			{{ row }}<br>
		{% endfor %}

		这里是数据库查到的数据:
		{% for row in querydata %}
			{{ row }}<br>
		{% endfor %}
	</pre>
	<hr>
</div>
</body>
</html>